@model IEnumerable<MusicOn.Models.User>

@{
    ViewData["Title"] = "Пользователи";
}

<h1>Пользователи</h1>
<form class="navbar-form navbar-left" role="search" asp-controller="Users" asp-action="Index" style="width:360px" method="get">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Имя пользователя" name="SearchString">
        <div class="input-group-btn">
            <input type="submit" class="btn btn-info" value="Найти" />
        </div>
    </div>
</form>
<br>
<table class="table">
    <tbody>
@foreach (var item in Model)
{
    if (item.Role.RoleId == 1) { continue; }
        <tr>
            <td>
                <a asp-controller="Users" asp-action="Details" asp-route-id="@item.UserId">@Html.DisplayFor(modelItem => item.Username)</a>
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a asp-controller="Users" asp-action="EditRole" asp-route-id="@item.UserId">Изменить роль</a>
                    <a asp-controller="Users" asp-action="Delete" asp-route-id="@item.UserId">Удалить</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>

