@model MusicOn.ViewModels.HomeModel

@{
    ViewData["Title"] = "Главная";
}

<h1>Главная</h1>

<h2>Популярные треки</h2>
@{
    await Html.RenderPartialAsync("../Compositions/Index", Model.Compositions);
}
<h2>Новые альбомы</h2>
@{
    await Html.RenderPartialAsync("../Albums/Index", Model.Albums);
}

